:root {

    --columns: 1fr 1fr 1fr;

}

@media (max-width: 750px) {

    :root {

        --columns: 1fr;
       
    }

}

.font {
    font-family: 'Roboto', sans-serif;
}

.wrapper {

    display: grid;
    grid-template-columns: var(--columns);
}

.wrapper > div {

    border-bottom: black 1px solid;
    
    padding: 16px;
    margin-top: -14px;
    margin-left: -8px;
    margin-right: -8px;
}

.wrapper > div > p {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 10px;

    margin-top: 0px;
    margin-bottom: 0px;    
    margin-left: 18px;
    margin-right: 18px;

    font-size: 14px;

}

.carousel__slide {
    
    list-style: none;
   
}

.carousel__nav {
   
    display: flex;
    justify-content: center;
    padding: 10px 0;
    
}

.carousel__nav2 {
   
    display: flex;
    justify-content: center;
    padding: 10px 0;
    
}

.carousel__nav3 {
   
    display: flex;
    justify-content: center;
    padding: 10px 0;
    
}

.carousel__indicator {
    border: 0;
    height: 12px;  
    background: rgba(0, 0, 0, 0.3); 
    margin: 0 12px;
    cursor: pointer;
   
}

.carousel__indicator.current-slide {

    background: black;

}

.hidden {
    background-color: crimson;
    position: absolute;
    width: 20%;
    margin-left: -20px ;
    margin-top: -400px ;
    visibility: hidden;
}

.hidden > img {

    margin: 0px;
    padding: 0px;

}

.images {
    
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-left: -20px;

}

.intro {

    font-size: 14px;
    border-bottom: black 1px solid;
    padding-bottom: 12px;
    margin-left: -8px;
    margin-right: -8px;
}


.headandfoot {

    text-align: center;
}

h1 {

    font-size: 20px;
    border-bottom: black 1px solid;
    padding-bottom: 12px;
    margin-left: -8px;
    margin-right: -8px;
}





