:root {

    --img-size: 25%;
    --img-float-type: left;
    --img-margin-left: 24%;
    --img-padding-right: 1%;
    --p-size: 25%;
    --p-padding-left: 1%;
    --p-margin-right: 24%;
    --p-float-type: right;


}

body {
    background-color: white;
}

.fadein {
    animation-name: fadein;
    animation-duration: 1.6s;
}

#subheader {

    text-align: center;

}

@keyframes fadein {

    0% {color: white; transform: translateY(-50px);}
    25% {color: lightgrey;}
    50% {color: grey;}
    75% {color: rgb(46, 46, 46);}
    100% {color: black;}

}

@media (max-width: 1000px) {

    :root {

        --img-size: 400px;
        --img-float-type: none;
        --img-margin-left: auto;
        --img-padding-right: 0%;
        --p-size: 400px;
        --p-padding-left: 0%;
        --p-margin-right: auto;
        --p-float-type: none;
       
    }

}

.hover {

    animation-name: hover;
    transition-property: color;

}

a:hover {

    animation-name: hover;
    color: black;
 
}

a {

    text-decoration: none;
    color: grey;

}

#content {

    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

img {
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#prjct1 {

height: 320px;

}

#project-img img{
    
    position: relative;
    margin-left: var(--img-margin-left, 24%);
    margin-right: auto;
    width: var(--img-size, 25%);
    float: var(--img-float-type, left);
    padding-right: var(--img-padding-right, 1%);
    display: block;
    
}

#project-desc p{

    position: relative;
    width: var(--p-size, 25%);
    padding-left: var(--p-padding-left, 1%);
    margin-left: auto;
    margin-right: var(--p-margin-right, 24%);
    text-decoration: none;
    text-align: left;
    float: var(--p-float-type, right);
    vertical-align: middle;
    
    
}

.clear {

    clear: both;

}

#footer {

    padding: 10px;
    clear: both;
    text-align: center;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

h4 {

    font-style: italic;

}

p {

    text-decoration: underline;
    text-align: center;
    

}
